body { padding: 0; margin: 0 }
html {
    background-image: url('../../Images/Backgrounds/banner.png'), linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../Images/Backgrounds/MainBg.gif');
    background-repeat: repeat-y, repeat, repeat;
    background-position: 50%;
    background-attachment: fixed;
    background-size: 50%, cover, cover;
    overflow-y: scroll;
    scrollbar-color: #000000 #3e0446;
    scrollbar-width: thin;
}
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 40%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: relative; width: 100%; height: 100%; margin-top: -100%; }
#unity-canvas { background: #000000 }
.unity-mobile #unity-canvas { width: 100%; height: 100%; margin-top: -100%; }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px; color: white; }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#ControlsInfoBox {
    width:25%;
    height:25%;
    line-height:3em;
    overflow:scroll;
    overflow-x: hidden;
    padding:5px;
    border: 4px double #ea9dff;
    position: static;
    margin-left: 37%;
    margin-top: 35%;
    overflow-y: scroll;
    scrollbar-color: #000000 #3e0446;
    scrollbar-width: thin;
}
#ControlsInfoBox.unity-mobile {
    width:25%;
    height:25%;
    line-height:3em;
    overflow:scroll;
    overflow-x: hidden;
    padding:5px;
    border: 4px double #ea9dff;
    position: static;
    margin-left: 37%;
    margin-top: 50%;
    overflow-y: scroll;
    scrollbar-color: #000000 #3e0446;
    scrollbar-width: thin;
}
h1, h2, h3, p {
    color: white;
    text-align: center;
    font-size: 18px;
    text-align: center;
    font-family: Arial;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
/* center alignment */
#wrap3 {
    float: left;
    position: relative;
    left: 50%;
}
#content3 {
    float: left;
    position: relative;
    left: -50%;
    margin-top: 5%;
}
/* center alignment */
#wrap3.unity-mobile {
    float: left;
    position: relative;
    left: 50%;
}
#content3.unity-mobile {
    float: left;
    position: relative;
    left: -50%;
    margin-top: 25%;
}
